* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

    background-color: rgb(41, 41, 245);
    color: white;
    font-size: 300%;
    vertical-align: middle;
    font-family:  sans-serif,Arial, Helvetica;
    text-align: center;
    height:10vh;
    width:100vw;
    line-height: 10vh;
}
.container{
    display: flex;
    flex-direction: row;
}
footer {
    bottom: 0; 
    background-color: green;
    height:5vh;
    width:100vw;
    
}
button{
    margin: 3px;
    padding: 2px 1px 1px ;
}
.bars {
	width: 3%;
	background-color: #fceb00;
	display: inline-block;
    transition: 0.3s all ease;
    vertical-align: sub;
    top: 30%;
}

.bars_id {
	padding-left: 20%;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

.sidePanel{
    background-color: rgb(231, 25, 214);
    height: 85vh ;
    width:20vw;
}
.rightCanvas{
   
    width:80vw;
    height: 85vh;
    left:20px;
    display: block;

}
.array{
padding-left: 10vw;
margin-top: 10%;
}
